[{elvis,
  [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       rules =>
           [{elvis_style, invalid_dynamic_call, #{ignore => [elvis_core]}},
            {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
            {elvis_style, no_debug_call, disable},
            {elvis_style, god_modules, #{ignore => [elvis_style]}},
            {elvis_style, no_throw, disable}],
       ruleset => erl_files}]}]}].
