{erl_opts, [debug_info]}.

{deps, []}.

{shell,
 %% {config, "config/sys.config"},
 [{apps, [data_node]}]}.

{escript,
 [{main_module, cli}]}. % This specifies the module where main/1 is defined

{project_plugins, [rebar3_lint, rebar3_format]}.

{relx,
 [{release, {data_node, "0.1.0"}, [data_node]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.
